/*FONTS*/

/* livvic-600 - latin */
@font-face {
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 600;
    src: local(''),
         url('../fonts/livvic-v13-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/livvic-v13-latin-600.woff') format('woff'), /* Modern Browsers */
  }
  /* livvic-700 - latin */
  @font-face {
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/livvic-v13-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/livvic-v13-latin-700.woff') format('woff'), /* Modern Browsers */
  }

/* ROOT */
:root{
   --hero-bg-color: #014E56;
   --main-bg-color: #012F34;
   --main-text-color: #fff;
   --contact-bg-color: #F67E7E;
   --footer-bg-color: #002529;
   --text-color: #79C8C7;
   --deliver-section-bg-color: #004047;
}

html{
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    font-family: "Livvic", "Arial", sans-serif;
    font-weight: 600;
    background-color: #fff;
}

img{
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container{
    width: 100%;
    max-width: 1150px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
}
/*MAIN STYLES START*/
.deliver-section{
    background-image: url(../images/delivering-bottom-bg.png);
    background-position: 1325px 653px;
    background-repeat: no-repeat;
    background-color: var(--deliver-section-bg-color);
}
.deliver-section__wrapper{
    padding-top: 40px;
    padding-bottom: 151px;
    text-align: center;
}
.deliver-section__title{
    width: 945px;
    margin: 0 auto 56px;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: var(--main-text-color);
}
.deliver-section__title--end{
    color: var(--text-color);
}
.deliver-section__list{
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.deliver-section__item{
   background-image: url(../images/quote.svg);
   background-position: center 0 ;
   background-repeat: no-repeat;
   padding-top: 36px;
}
.deliver-section__text{
    width: 350px;
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 15px;
    line-height: 25px;
    color: var(--main-text-color);
}
.name{
    margin-top: 0;
    margin-bottom: 2px;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: var(--text-color); 
}
.job{
    display: block;
    margin-bottom: 32px;
    font-size: 13px;
    line-height: 18px;
    color: var(--main-text-color);
}
/*MAIN STYLES START*/