/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*FONTS*/

/* livvic-600 - latin */
@font-face {
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 600;
    src: local(''),
         url('../fonts/livvic-v13-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/livvic-v13-latin-600.woff') format('woff'), /* Modern Browsers */
  }
  /* livvic-700 - latin */
  @font-face {
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/livvic-v13-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/livvic-v13-latin-700.woff') format('woff'), /* Modern Browsers */
  }

/* ROOT */
:root{
   --hero-bg-color: #014E56;
   --main-bg-color: #012F34;
   --main-text-color: #fff;
   --contact-bg-color: #F67E7E;
   --footer-bg-color: #002529;
   --text-color: #79C8C7;
   --deliver-section-bg-color: #004047;
}

html{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

body{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    margin: 0;
    font-family: "Livvic", "Arial", sans-serif;
    font-weight: 600;
    background-color: #fff;
}
.main{
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}

img{
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container{
    width: 100%;
    max-width: 1150px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
}

/* HEADER STYLES START */
.site-header{
    background-color: var(--hero-bg-color);
}
.site-header__wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 73px;
    padding-bottom: 73px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.site-header__start{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 80px;
}
.site-nav__list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    gap: 40px;
}
.site-nav__item{
    display: inline-block;
}
.site-nav__link{
    text-decoration: none;
    height: 28px;
    font-size: 18px;
    line-height: 28px;
    color: var(--main-text-color);
}
.site-header__btn{
    border: 2px solid var(--main-text-color);
    border-radius: 24px;
    background-color:var(--hero-bg-color) ;
    padding: 9px 33px 11px 32px;
    font-size: 18px;
    line-height: 28px;
    color: var(--main-text-color);
}
.myteam-btn{
    width: 20px;
    height: 17px;
    background-image: url(../images/icons/burger-icon.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    background-position: center center;
    border: none;
    display: none;
}
@media only screen and (max-width:689px) {
    .site-header__start{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 40px;
    }
    .site-nav{
        margin-left: -29px;
    }
}
@media only screen and (max-width:600px){
    .site-nav{
        display: none;
    }
}
@media only screen and (max-width:415px){
    .site-header__logo{
        width: 128px;
        height: 32px;
    }
    .site-header__btn{
        display: none;
    }
    .myteam-btn{
       display: inline;
    }
}
/* HEADER STYLES END */
/*MAIN STYLES START*/

.hero-section {
    background-color: var(--hero-bg-color);
    background-image: url(../images/disk-hero-bg.png);
    background-repeat: no-repeat;
    background-size: 200px 200px;
    background-position: -100px 185px;
}

.hero-section__wrapper{
    padding-top: 56px;
    padding-bottom: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: url(../images/disk-bottom.png);
    background-repeat: no-repeat;
    background-position: right  bottom  -100px;
    background-size:  358px 200px;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                -webkit-min-device-pixel-ratio: 2),
only screen and (                -o-min-device-pixel-ratio: 2/1),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .hero-section{
        background-image: url(../images/disk-hero-bg@2x.png);
    }
    .hero-section__wrapper{
        background-image: url(../images/disk-bottom@2x.png);
    }
}
.hero-section__title{
    width: 620px;
    margin: 0;
    font-weight: 700;
    font-size: 100px;
    line-height: 100px;
    color: #FFFFFF;
}
.hero-section__end{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 61px;
}
.line{
    width: 50px;
    height: 4px;
    background-color: #79C8C7;
}

.hero-section__desc{
    width: 445px;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
}

@media(max-width: 905px) {
    .hero-section{
        background-image: none;
    }
    .hero-section__wrapper{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 24px;
        text-align: center;
        background-position: bottom -100px center;
    }

    .hero-section__title{
        width: 350px;
        font-size: 64px;
        margin-bottom: 0;
        line-height: 56px;
    }

    .line{
        display: none;
    }

    .hero-section__desc{
        width: 457px;
        margin-top: 0;
        font-size: 15px;
    }
}

@media (max-width: 495px) {
    .hero-section__title{
        width: 248px;
        font-size: 40px;
        line-height: 40px;
    }

    .hero-section__desc{
        width: 327px;
    }
}


.build-section{
    background-image: url(../images/desk-buil-bg.png);
    background-repeat: no-repeat;
    background-position: 1420px 396px;
    background-color: var(--main-bg-color);
}
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                -webkit-min-device-pixel-ratio: 2),
only screen and (                -o-min-device-pixel-ratio: 2/1),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
    .build-section{
        background-image: url(../images/desk-buil-bg@2x.png)
    }
}
.build-section__wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 198px;
    padding-bottom: 108px;
}
.build-section__line{
    position: relative;
    top: 140px;
    width: 50px;
    height: 4px;
    background-color: var(--contact-bg-color);
}
.build-section__title{
    width: 445px;
    margin: 0;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: var(--main-text-color);
}
.build-section__list{
    margin: 0;
    padding: 0;
    list-style: none;
}
.build-section__item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 39px;
    margin-bottom: 32px;
    background-image: url(../images/oval.png);
    background-position: 20px 10px;
    background-repeat: no-repeat;
}
.build-section__subtitle{
    margin: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: var(--contact-bg-color);
}
.build-section__text{
    width: 445px;
    margin: 0;
    font-size: 15px;
    line-height: 25px;
    color: var(--main-text-color);
    mix-blend-mode: normal;
    opacity: 0.8;
    
}
@media (max-width:900px) {
    .container{
        max-width: 729px;
    }
    .build-section{
        background-position: 668px 0;
    }
    .build-section__line{
        top: 100px;
    }
    .build-section__wrapper{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding-top: 136px;
    }
    .build-section__title{
        width: 445px;
        margin-bottom: 64px;
        font-size: 32px;
        line-height: 32px;
    }
}
@media (max-width: 600px) {
    .container{
        max-width: 367px;
    }
    .build-section{
        background-position: 275px 0;
    }
    .build-section__line{
        top: 64px;
    }
    .build-section__wrapper{
        padding-top: 100px;
    }
    .build-section__title{
        width: 240px;
        margin-bottom: 56px;
    }
    .build-section__item{
        background-position: 150px 15px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        text-align: center;
    }
    .build-section__text{
        width: 327px;
    }
}

.deliver-section{
    max-width: 100%;
    background-image: url(../images/delivering-bottom-bg.png);
    background-position: 1325px 653px;
    background-repeat: no-repeat;
    background-color: var(--deliver-section-bg-color);
}
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                -webkit-min-device-pixel-ratio: 2),
only screen and (                -o-min-device-pixel-ratio: 2/1),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
    .deliver-section{
        background-image: url(../images/delivering-bottom-bg@2x.png);
    }
}
.deliver-section__wrapper{
    padding-top: 40px;
    padding-bottom: 151px;
    text-align: center;
}
.deliver-section__title{
    width: 945px;
    margin: 0 auto 56px;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: var(--main-text-color);
}
.deliver-section__title--end{
    color: var(--text-color);
}
.deliver-section__list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.deliver-section__item{
   background-image: url(../images/quote.svg);
   background-position: center 0 ;
   background-repeat: no-repeat;
   padding-top: 36px;
}
.deliver-section__text{
    width: 350px;
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 15px;
    line-height: 25px;
    color: var(--main-text-color);
}
.name{
    margin-top: 0;
    margin-bottom: 2px;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: var(--text-color); 
}
.job{
    display: block;
    margin-bottom: 32px;
    font-size: 13px;
    line-height: 18px;
    color: var(--main-text-color);
}
@media (max-width: 1133px) {
    .container{
        max-width: 729px;
    }
    .deliver-section{
        background-position: 568px 1135px;
    }
    .deliver-section__wrapper{
        padding-top: 0;
        padding-bottom: 100px;
    }
    .deliver-section__title{
        width: 573px;
        margin-bottom: 48px;
        font-size: 32px;
        line-height: 32px;
    }
    .deliver-section__list{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .deliver-section__text{
        width: 571px;
        margin-bottom: 16px;
    }
}
@media (max-width: 600px) {
    .container{
        max-width: 367px;
    }
    .deliver-section{
        background-position: 175px 1338px;
    }
    .deliver-section__wrapper{
        padding-top: 40px;
        padding-bottom: 164px;
    }
    .deliver-section__title{
        width: 327px;
    }
    .deliver-section__text{
        width: 327px;
    }
}
.contact-section{
    background-color: var(--contact-bg-color);
    background-image: url(../images/contact-us-bg.png);
    background-repeat: no-repeat;
    background-position: bottom -100px left;
    background-size: 200px 244px;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                -webkit-min-device-pixel-ratio: 2),
only screen and (                -o-min-device-pixel-ratio: 2/1),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .contact-section{
        background-image: url(../images/contact-us-bg@2x.png);
    }
}

.contact-section__wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 76px;
    padding-bottom: 76px;
}

.contact-section__title{
    font-weight: 700;
    font-size: 48px;
    line-height: 38px;
    color: var(--main-bg-color);
}
.contact-section__btn{
    padding: 9px 33px 11px 32px;
    border: 2px solid var(--main-bg-color);
    border-radius: 24px;
    text-decoration: none;
    font-size: 18px;
    line-height: 28px;
    color: #012F34;
}


@media only screen and (max-width: 768px) {
    .contact-section__wrapper{
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        gap: 84px;
    }

    .contact-section__title{
        font-size: 32px;
        line-height: 32px;
    }

}

@media only screen and (max-width: 620px) {

    .contact-section{
        background-position: bottom -130px left;
    }

    .contact-section__wrapper{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        text-align: center;
        padding: 83px 0;
        gap: 0;
    }

    .contact-section__title{
        margin: 24px 0;
    }
}
/*MAIN STYLES START*/
/* FOOTER STYLES START */
.site-footer{
    background-color: var(--footer-bg-color);
}
.site-footer__wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding:48px 0;
}
.site-footer__start{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 125px;
}
.site-footer__list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
}
.site-footer__item{
    display: inline-block;
    margin-top: 25px;
}
.site-footer__link{
    text-decoration: none;
    font-size: 18px;
    line-height: 28px;
    color: var(--main-text-color);
}
.site-address__list{
    margin: 0;
    padding: 0;
}
.site-address__item{
    display: block;
    margin-bottom:  1px;
    font-size: 15px;
    line-height: 25px;
    color: var(--main-text-color);
    mix-blend-mode: normal;
    opacity: 0.6;
}
.site-address__link{
    text-decoration: none;
    color: var(--main-text-color);
}


.site-footer__icon{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 160px;
    gap: 16px;
}
.site-footer__year-title{
    font-size: 15px;
    line-height: 25px;
    margin-top: 51px;
    color: var(--main-text-color);
    mix-blend-mode: normal;
    opacity: 0.6;
}
.site-footer__icon-planshet{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: none;
}
.site-footer__address-planshet{
    display: none;
}
.site-footer__end{
    text-align: right;
    
}
@media only screen and (max-width:768px){
     

    .site-footer__start{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 35px;
    }

    .site-footer__address{
        display: none;
    }
    .site-footer__address-planshet{
        display: block;
    }
   .site-header__logo{
    width: 96px;
    height: 24px;
   }
   
   .site-footer__link{
    font-size: 15px;    
   }

   .site-footer__icon{
     display: none;
   } 
   .site-footer__icon-planshet{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 16px;
   }

   .site-footer__list{
    gap: 24px;
   }
}


@media only screen and (max-width:375px){

    .site-footer__wrapper{
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 40px;
    }

    .site-footer__start{
        gap: 24px;
        text-align: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .site-footer__end{
        text-align: center;
    }

    .site-footer__icon{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding-left: 73px;
        gap: 16px;
      } 
      .site-footer__icon-planshet{
       display: none; 
      }

      .site-footer__address{
        display: block;
    }
    .site-footer__address-planshet{
        display: none;
    }
}
/* FOOTER STYLES END */

/* DIRECTORS SECTION STYLES START */
.directors-section{
    background-color:var(--deliver-section-bg-color);
    background-image: url(../images/delivering-top-bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}
.directors-section__wrapper{
    padding-top: 0;
}
.directors-section__title{
    width: 920px;
    height: 48px;
    margin: 0;
    margin-bottom: 64px;
    padding-left: 180px;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    align-items: center;
    color: var(--main-text-color);
}
.directors-section__list{
    margin: 0;
    padding: 0;
    padding-bottom: 168px;
}
.directors-section__item{
    width: 350px;
    height: 253px;
    display: inline-block;
    text-align: center;
    background-color:var(--main-bg-color);
}
.directors-section__item:nth-child(2){
    margin: 0 25px;
    margin-bottom: 76px;
}
.directors-section__item:nth-child(5){
    margin: 0 25px;
}
.direction-section__item-img{
    padding-top: 35px;
}
.section-list__title{ 
    margin-top: 13px;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: var(--text-color);
}
.section-list__description{
    height: 25px;
    margin-top: 0;
    margin-bottom: 25px;
    font-style: italic;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: var(--main-text-color);
}
.direction-section__item-end__title{
    margin-top: 35px;
    margin-bottom: 0;
    height: 28px;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: var(--text-color);
}
.section-list__end-description{
    height: 75px;
    margin: 0;
    padding: 8px 48px 24px 48px;
    font-size: 15px;
    line-height: 25px;
    color: var(--main-text-color);
}
.direction-item__icon{
    padding-top: 26px;
    padding-bottom: 38px;
    gap: 16px;
}
.direction__twitter{
    margin-right: 16px;
}
/* DIRECTORS SECTION STYLES END */