/*FONTS*/

/* livvic-600 - latin */
@font-face {
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 600;
    src: local(''),
         url('../fonts/livvic-v13-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/livvic-v13-latin-600.woff') format('woff'), /* Modern Browsers */
  }
  /* livvic-700 - latin */
  @font-face {
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/livvic-v13-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/livvic-v13-latin-700.woff') format('woff'), /* Modern Browsers */
  }

/* ROOT */
:root{
   --hero-bg-color: #014E56;
   --main-bg-color: #012F34;
   --main-text-color: #fff;
   --contact-bg-color: #F67E7E;
   --footer-bg-color: #002529;
   --text-color: #79C8C7;
}

html{
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    font-family: "Livvic", "Arial", sans-serif;
    font-weight: 600;
    background-color: #fff;
}

img{
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container{
    width: 100%;
    max-width: 1150px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
}
/*MAIN STYLES START*/
.build-section{
    background-image: url(../images/desk-buil-bg.png);
    background-repeat: no-repeat;
    background-position: 1420px 396px;
    background-color: var(--main-bg-color);
}
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
    .build-section{
        background-image: url(../images/desk-buil-bg@2x.png)
    }
}
.build-section__wrapper{
    display: flex;
    justify-content: space-between;
    padding-top: 198px;
    padding-bottom: 108px;
}
.build-section__line{
    position: relative;
    top: 140px;
    width: 50px;
    height: 4px;
    background-color: var(--contact-bg-color);
}
.build-section__title{
    width: 445px;
    margin: 0;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: var(--main-text-color);
}
.build-section__list{
    margin: 0;
    padding: 0;
    list-style: none;
}
.build-section__item{
    display: flex;
    gap: 39px;
    margin-bottom: 32px;
    background-image: url(../images/oval.png);
    background-position: 20px 10px;
    background-repeat: no-repeat;
}
.build-section__subtitle{
    margin: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: var(--contact-bg-color);
}
.build-section__text{
    width: 445px;
    margin: 0;
    font-size: 15px;
    line-height: 25px;
    color: var(--main-text-color);
    mix-blend-mode: normal;
    opacity: 0.8;
    
}
@media (max-width:810px) {
    .container{
        max-width: 729px;
    }
    .build-section{
        background-position: 668px 0;
    }
    .build-section__line{
        top: 100px;
    }
    .build-section__wrapper{
        flex-direction: column;
        padding-top: 136px;
    }
    .build-section__title{
        width: 445px;
        margin-bottom: 64px;
        font-size: 32px;
        line-height: 32px;
    }
}
@media (max-width: 510px) {
    .container{
        max-width: 367px;
    }
    .build-section{
        background-position: 275px 0;
    }
    .build-section__line{
        top: 64px;
    }
    .build-section__wrapper{
        padding-top: 100px;
    }
    .build-section__title{
        width: 240px;
        margin-bottom: 56px;
    }
    .build-section__item{
        background-position: 150px 15px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .build-section__text{
        width: 327px;
    }
}
/*MAIN STYLES START*/